@base-margin: 25px;

body {
	font-size: 16px;
}

.top-nav {
	margin-top: 1em;

	li {
		display: inline;
		padding: 0 1em 0 0;
	}
}

.unstyled-list {
	text-align: center;

	li {
		display: inline;
		padding-right: 10%;
	}

	a {
		text-decoration: none;
	}
}

.resume-section-header {
	border-bottom: 1px solid #d3d3d3;
}