#resume .container, #resume-page .container {
  border: none;
  padding: 0;
}

a {
  color: #222222;
}

li {
  line-height: 1.25;
  margin-bottom: 0;
}

body {
  font-size: 10pt;
  font-family: Palatino;
}